* {
	box-sizing: border-box;
}

body {
	background-color: #F5F4EF;
	font-family: 'Trebuchet MS', Trebuchet, Arial, sans-serif;
	font-size: 14px;
}

a {
	color: #C74451;
	text-decoration: none;
	border-bottom: 1px solid #C74451;
	transition: all .5s ease-out;
}

a:hover,
a:focus {
	background: #C74451;
	color: #fff;
}

.link-black {
	color: #000;
	border: none;
}

.link-black:hover,
.link-black:focus {
	color: #C74451;
	background-color: transparent;
}

.container {
	width: 55%;
	margin: 0 auto;
}

h1 {
	font-size: 50px;
	margin-bottom: 0;
}

h2 {
	font-size: 24px;
}

h1 + p {
	font-size: 18px;
	margin-top: 0;
}

.box {
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 20px;
}

.box h2 {
	margin: 0;
	color: #C74451;
}

/* .post{border-bottom: 1px solid ;} */
.post h3 {
	margin: 10px 0;
}

.post h3 a{
	border: none;
}

.post p{
	margin-bottom: 0;
}

.post--main h3  a{
	color: inherit;
}
.post--main h3  a:hover,
.post--main h3  a:focus{
	color: #FFF;
	
}
.post + .post {
	border-top: 1px solid #ccc;
	margin-top: 10px;
}

.post time,
.post author {
	display: block;
}

.menu {
	padding: 0;
	list-style-type: none;
	width: 40%;
}

.menu li{
	border-bottom: 1px solid #fff;
}

.menu li a{
	display: inline-block;
	width: 100%;
	padding: 8px;
	border-bottom: 1px solid #F4E3E3;
	color: inherit;
}

.menu li a:hover,
.menu li a:focus {
	color: #FFF;
}
aside h3{
	color: #C74451;
}

.flex-row{
	display: flex;
	justify-content: space-between;
}

.flex-item{
	width: 40%;
}
.flex-item--lg{
	width: 60%;
}